<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome Home!</h1>
    <h3>You are visiting from :</h3>
    <ul>
        <li>IP Address : {{ip}}</li>
        <li>Device: {{ device_type}}</li>
        <li>Browser: {{browser_type}} {{browser_version}}</li>
        <li>OS: {{os_type}} {{os_version}}</li>
        <li>City: {{ location_city }}</li>
        <li>Country: {{ location_country }}</li>
    </ul>
</body>
</html>